@font-face {
  font-family: "Spartan MB";
  src: url("./fonts/SpartanMB-Regular.woff2") format("woff2"),
    url("./fonts/SpartanMB-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spartan MB";
  src: url("./fonts/SpartanMB-Thin.woff2") format("woff2"),
    url("./fonts/SpartanMB-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spartan MB";
  src: url("./fonts/SpartanMB-ExtraBold.woff2") format("woff2"),
    url("./fonts/SpartanMB-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spartan MB";
  src: url("./fonts/SpartanMB-Black.woff2") format("woff2"),
    url("./fonts/SpartanMB-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spartan MB";
  src: url("./fonts/SpartanMB-SemiBold.woff2") format("woff2"),
    url("./fonts/SpartanMB-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spartan MB";
  src: url("./fonts/SpartanMB-Bold.woff2") format("woff2"),
    url("./fonts/SpartanMB-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spartan MB";
  src: url("./fonts/SpartanMB-Light.woff2") format("woff2"),
    url("./fonts/SpartanMB-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Variables */
:root {
  --primary-color: #3e85c6;
  --purple-color: #684fa1;
  --teal-color: #339999;
  --red-color: #a80000;
  --soft-gray: #494949;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
/* Reset Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 600;
}

ul,
li {
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

button {
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
}
/* Common Css */
.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.container-full {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  padding: 12px 30px;
  font-weight: 600;
  font-size: 18px;
  transition: 0.3s all ease-in;
  border: 2px solid transparent;
}
.btn_primary {
  color: #fff;
  background: var(--primary-color);
}
.btn_primary:hover {
  opacity: 0.8;
}
.btn_primary_outline {
  border-color: var(--primary-color);
  background: transparent;
  color: var(--primary-color);
}
.btn_primary_outline:hover {
  background: var(--primary-color);
  color: #fff;
}
.btn_purple {
  background: var(--purple-color);
  color: #fff;
}
.btn_purple:hover {
  opacity: 0.8;
}
.btn_purple_outline {
  border-color: var(--purple-color);
  color: var(--purple-color);
  background: transparent;
}
.btn_purple_outline:hover {
  color: #fff;
  background: var(--purple-color);
}
.btn_teal {
  background: var(--teal-color);
  color: #fff;
}
.btn_teal:hover {
  opacity: 0.8;
}
.btn_teal_outline {
  background: transparent;
  color: var(--teal-color);
  border-color: var(--teal-color);
}
.btn_teal_outline:hover {
  background: var(--teal-color);
  color: #fff;
  border-color: var(--teal-color);
}
.btn_red {
  background: var(--red-color);
  color: #fff;
}
.btn_red:hover {
  opacity: 0.8;
}
.btn_red_outline {
  background: var(--red-color);
  color: #fff;
}
.btn_red_outline:hover {
  background: var(--red-color);
  color: #fff;
}
/* Main Css here */
body {
  font-family: "Spartan MB";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
/* Betting content */
.bettingContent {
  padding: 60px 0;
}
.bettingItems {
  padding-bottom: 45px;
}
.bettingHead {
  display: flex;
  align-items: flex-end;
  column-gap: 20px;
  padding-bottom: 40px;
}
.bettingHead_img {
  height: 100%;
  width: 120px;
  object-fit: contain;
  transform: translateY(10px);
}
.bettingHead_text {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.bettingCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
}
/* Betting content */
/* download_app_wrapper */
.download_app {
  padding-bottom: 60px;
}
.download_app_wrapper {
  display: grid;
  grid-template-columns: 280px 1fr;
  column-gap: 30px;
  align-items: flex-end;
  border: 2px solid var(--primary-color);
  width: 100%;
  padding: 25px;
}
.download_app_illustration {
  width: 180px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.download_app_illustration img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.download_app_text {
  text-align: right;
}
.download_app_text h3 {
  text-align: left;
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 12%;
  line-height: 1.6;
  padding-bottom: 10px;
}
/* organization */
.organization {
  padding: 60px 0;
  border: 2px solid var(--primary-color);
  border-left: none;
  border-right: none;
  margin-top: 10px;
  margin-bottom: 30px;
}
.organization__items {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}
