.topHeader {
  padding: 20px 0;
}
.content {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.content .right,
.content .left ul {
  display: flex;
  column-gap: 10px;
}
.content .left ul li a {
  font-size: 16px;
}
.right button,
.right a {
  height: 50px;
  font-size: 16px;
}
.right button {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.content .right {
  justify-content: flex-end;
}
.logo {
  height: 50px;
  width: 138px;
  padding: 0 !important;
}
.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
