.navigation {
  background: var(--primary-color);
  padding: 10px 0;
}
.navigation nav ul {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.navigation nav ul li a {
  padding: 10px 40px;
  text-align: center;
  font-size: 16px;
  transition: 0.3s all ease-in;
  font-weight: 600;
  color: #fff;
}
.navigation a.active {
  color: #000;
  background: #fff !important;
  font-weight: 700;
}
.navigation a:hover {
  color: #000;
  background: #fff !important;
}
